*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

@import "Partials/variables";
@import "Partials/header";
@import "Partials/layout";
@import "Partials/button";

body{
    background-color: $Background-Dark;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
}




